<div id="chessBoard">        
	<div id="board">
            <table>
                <tr class="col">
                    <td class="number">8</td>
                    <td class="one" id="18"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="28"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="38"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="48"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="58"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="68"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="78"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="88"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                </tr>
                <tr class="col">
                    <td class="number">7</td>
                    <td class="two" id="17"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5) rotate(180 64 64)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="27"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5) rotate(180 64 64)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="37"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5) rotate(180 64 64)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="47"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5) rotate(180 64 64)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="57"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5) rotate(180 64 64)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="67"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5) rotate(180 64 64)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="77"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5) rotate(180 64 64)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="87"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5) rotate(180 64 64)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                </tr>
                <tr class="col">
                    <td class="number">6</td>
                    <td class="one" id="16"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="26"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="36"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="46"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="56"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="66"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="76"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="86"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                </tr>
                <tr class="col">
                    <td class="number">5</td>
                    <td class="two" id="15"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="25"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="35"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="45"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="55"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="65"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="75"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="85"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                </tr>
                <tr class="col">
                    <td class="number">4</td>
                    <td class="one" id="14"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="24"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="34"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="44"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="54"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="64"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="74"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="84"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                </tr>
                <tr class="col">
                    <td class="number">3</td>
                    <td class="two" id="13"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="23"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="33"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="43"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="53"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="63"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="73"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="83"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                </tr>
                <tr class="col">
                    <td class="number">2</td>
                    <td class="one" id="12"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="22"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path 
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="32"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="42"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="52"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="62"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="72"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="82"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                </tr>
                <tr class="col">
                    <td class="number">1</td>
                    <td class="two" id="11"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="21"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="31"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="41"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="51"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="61"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="two" id="71"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
     inkscape:connectorcurvature="0" /></g></svg></td>
                    <td class="one" id="81"><svg   width="62px" height="64px" class="pieceSVG" viewbox="0.5 0 64 64 "><g transform="scale(.5)"><path
      inkscape:connectorcurvature="0" /></g></svg></td>
                </tr>
                <tr class="col">
                    <td id="space"></td>
                    <td class="letter">A</td>
                    <td class="letter">B</td>
                    <td class="letter">C</td>
                    <td class="letter">D</td>
                    <td class="letter">E</td>
                    <td class="letter">F</td>
                    <td class="letter">G</td>
                    <td class="letter">H</td>
                </tr>
            </table>
        </div>
        <div id="casualties">
            <div id="theirs">
                <div class="headingland" id="top">Enemy Casualties</div>
            </div>
            <div id="yours">
                <div class="headingland">Your Casualties</div>
            </div>
        </div>
</div>
