
    <head>
        <style>
body {
 background-color:black !important;  
     line-height: 2.8rem !important;

}
#openVideo {
     opacity: 1;  
     position:absolute;
     z-index:-1;
}
#logo {
    position:static;
    z-index:2; 
    margin-left:35%;
    margin-top:20%;
    opacity:0.0;
    width:30%;
}
h2 {
	margin-left:-5%;
  font-family:"couriercode" !important;  
   color: #1cbcbb !important;

}
p {
font-family: "Verdana", "courier" !important;
    font-size:16px !important;   
}
.homecontent {
color:white;
}
.row {
 padding-bottom:30px;   
}
.homecontent {
    opacity:0.0;
    display:none;
}
.secondarycol {
    opacity:0.0; 
}
@-webkit-keyframes logoOpacity {
    from {opacity:0.0;}
    to {opacity:1.0;}
}
@-webkit-keyframes videoOpacity {
    from {opacity:1.0;}
    to {opacity:0.0;}
}
@-webkit-keyframes logoFlyUp {
    from {margin-top:20%;}
    to {margin-top:2%;}

}
@-webkit-keyframes logoGetSmall {
    from {width:30%;}
    to {width:20%;}
}
@-webkit-keyframes copensateSize {
    from {margin-left:35%;}
    to {margin-left:40%;}
}
@-webkit-keyframes secondarycolDisplay {
    from {opacity:0.0;}
    to {opacity:1.0;}
}
.opacityanimationlogo {
    -webkit-animation: logoOpacity 2s;
}
.opacityanimationvideo {
       -webkit-animation: videoOpacity 2s;
}
.flyupanimationlogo {
       -webkit-animation: logoFlyUp 2s, logoGetSmall 2s, copensateSize 2s;
}
.displayanimationsecondarycol {
           -webkit-animation: secondarycolDisplay 2s;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
    text-align:center;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  homecontent: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: center;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'couriercode';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #1cbcbb;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  homecontent: "";
  display: block;
  position: absolute;
  right: -5px;
  top: 31px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #1cbcbb;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

	</style>
        <title>The War Room</title>
        
        <link rel="icon" type="image/png" href="favicon.png">
        
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="main.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        
        <!-- Jquery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            function set_cookie( cookie_name, cookie_value, lifespan_in_days, valid_domain ) {
                  var domain_string = valid_domain ? ("; domain=" + valid_domain) : '' ;
                  document.cookie = cookie_name + "=" + encodeURIComponent( cookie_value ) +
                      "; max-age=" + 60 * 60 * 24 * lifespan_in_days +
                      "; path=/" + domain_string ;
            }
            function get_cookie ( cookie_name )
            {
              // http://www.thesitewizard.com/javascripts/cookies.shtml
              var cookie_string = document.cookie ;
              if (cookie_string.length != 0) {
                var cookie_value = cookie_string.match ( '(^|;)[\s]*' + cookie_name + '=([^;]*)' );
                return decodeURIComponent ( cookie_value[2] ) ;
              }
              return '' ;
            }

            $(document).ready( function(){
                console.log(($(".homecontent").width() - $("#socialmedia").width()))
                $("#socialmedia").css("margin-left",($(".homecontent").width() - $("#socialmedia").width())/2)
                $("#cssmenu").css("margin-left", ($("#navcol").width() - $("#cssmenu").width())/2)
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) == true ) {
                    window.location = "http://development.thewarroom.divshot.io/indexmobile.html";
                }


                        $("#openVideo").remove()
                        $("#logo").css("opacity","1.0")
                        $("#logo").css("margin-left","40%")
                        $("#logo").css("margin-top","2%")
                        $("#logo").css("width","20%")
                        $(".secondarycol").css("opacity","1.0")
                        $(".secondarycol").css("display","inline")
                        setTimeout(function() {
                            console.log($("#socialmedia").width() )
                                           $("#socialmedia").css("margin-left",($(".homecontent").width() - $("#socialmedia").width())/2) 
                        }, 40); // After 5 secs    
                if (false) {
                    set_cookie("visitor","true", 365, "divshot.io")
                        if ($(window).width() > 1920) {
                            $("#openVideo").attr("width","1920px")   
                            $("#openVideo").attr("height","1080px")   
                            $("#openVideo").css("margin-left",($(window).width() - 1920)/2)   
                            $("#openVideo").css("margin-top",($(window).height() - 1080)/2)   
                        }
                        $("#openVideo").on("timeupdate", function(e) {
                            if (this.currentTime > 3) {
                                $("#logo").addClass("opacityanimationlogo")
                                $("#logo").css("opacity","1.0")
                            }
                        });
                        $("#openVideo").bind("ended", function() {
                                $("#socialmedia").css("margin-left",($(".homecontent").width() - $("#socialmedia").width())/2)
                                $("#openVideo").addClass("opacityanimationvideo")
                                $("#openVideo").css("opacity","0.0")
                                $("#logo").addClass("flyupanimationlogo")
                                $("#logo").css("margin-left","40%")
                                $("#logo").css("margin-top","2%")
                                $("#logo").css("width","20%")
                                $("#openVideo").remove()
                                $(".secondarycol").addClass("displayanimationsecondarycol")
                                $(".secondarycol").css("opacity","1.0")
                                $(".secondarycol").css("display","inline")

                        })
                }
            })
        </script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="maincol" class="col-xs-12">
<%= link_to "Sign in", signin_path %>
<%= link_to "Sign Up", signup_path %><br>
<%= image_tag("thewarroom.svg", :id => "logo") %>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10 secondarycol" id="navcol">
                <div id='cssmenu'>
                    <ul>
                       <li class="active"><a href='index.html'><span>Home</span></a></li>
                       <li><a href='about.html'><span>About</span></a></li>
                       <li><a href='blog.html'><span>Blog</span></a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="row">
                 <div class="col-xs-2">
                </div>
                <div class="col-xs-8 secondarycol homecontent">
  <h2>Lorem Ipsum</h2><BR>
                    <p>The Blaines were attached to no city. They were the Blaines of Lake Geneva; they had quite enough relatives to serve in place of friends, and an enviable standing from Pasadena to Cape Cod. But Beatrice grew more and more prone to like only new acquaintances, as there were certain stories, such as the history of her constitution and its many amendments, memories of her years abroad, that it was necessary for her to repeat at regular intervals. Like Freudian dreams, they must be thrown off, else they would sweep in and lay siege to her nerves. But Beatrice was critical about American women, especially the floating population of ex-Westerners.</p>
<p>“They have accents, my dear,” she told Amory, “not Southern accents or Boston accents, not an accent attached to any locality, just an accent”—she became dreamy. “They pick up old, moth- eaten London accents that are down on their luck and have to be used by some one. They talk as an English butler might after several years in a Chicago grand-opera company.” She became almost in- coherent—“Suppose—time in every Western woman’s life—she feels her husband is prosperous enough for her to have—accent—they try to impress me, my dear—”</p>
<p>Though she thought of her body as a mass of frailties, she consid- ered her soul quite as ill, and therefore important in her life. She had once been a Catholic, but discovering that priests were infi- nitely more attentive when she was in process of losing or regaining faith in Mother Church, she maintained an enchantingly wavering attitude. Often she deplored the bourgeois quality of the American Catholic clergy, and was quite sure that had she lived in the shadow of the great Continental cathedrals her soul would still be a thin flame on the mighty altar of Rome. Still, next to doctors, priests were her favorite sport.
“Ah, Bishop Wiston,” she would declare, “I do not want to talk of myself. I can imagine the stream of hysterical women fluttering at your doors, beseeching you to be simpatico”—then after an interlude filled by the clergyman—“but my mood—is—oddly dissimilar.”</p>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
            <div class="row">
                 <div class="col-xs-2">
                </div>
                <div class="col-xs-8 secondarycol homecontent">
                <div id="socialmedia">
<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fthewarroomvideogame&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
                    <a href="https://twitter.com/warroomgame" class="twitter-follow-button" data-show-count="false">Follow @warroomgame</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>    
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>
    </body>
