// STYLE FOR TAGS

body {
    background-color:#494949;
}

svg {
	position:absolute;
	fill:white;
}

input[type=submit] {
	z-index:5;
    padding: 10px 15px;
    background: #494949;
    color: #FFF;
    border-color: #494949;
    border-style: solid;
}
input[type=button] {
	z-index:5;
    padding: 10px 15px;
    background: #494949;
    color: #FFF;
    border-color: #494949;
    border-style: solid;
}
button {
	z-index:5;
    padding: 10px 15px;
    background: #494949;
    color: #FFF;
    border-color: #494949;
    border-style: solid;
}


//STYLE FOR CLASSES

.active {
    display:none;
}

.active_continent {
    display:none;
}

.bottom {
    bottom: 0px;
    border-bottom-style: solid;
}

.newObjectButton {
	display:none;
    margin-left:5%;
}
.submitButton {
	display:none;
    margin-left:5%;
}

.canvas {
	position:absolute;
}
.cancelButton {
	display:none;
}
.content {
    font-family:courier; 
    font-size:3em;
    text-align:center;
}

.continent {
    display:none;
    z-index: 2;
    position:absolute;
}

.filter {
	display:none;
	background-color:black;
	opacity:0.75;
	position:absolute;
}

.left {
    left: 0px;
    border-left-style: solid;
}

.renderedSprite {
    position:absolute;
}

.right {
    right: 0px;
    border-right-style: solid;
}

.sprite {
	display:none;
	position:absolute;
}

.territory {
    display:none;
    z-index: 4;
    position:absolute;
}
.territoryImage {
	position:absolute;
}
.temp_canvas {
	display:none;
}

.test {
	position:relative;
	z-index:700;
}

.territoryPath {
	z-index:1;
}

.test1 {
    position:relative;
}

.top {
    top: 0px;
    border-top-style: solid;
}




//STYLE FOR IDS
#traderoutes {
	pointer-events:none;
	z-index:500;
	position:absolute;
}
#background {
	position:absolute;
	z-index:-3000;
	background-color:#494949;
}

#create_sprite_canvas {
	position:absolute;
}

#color_map_overlay {
	display:none;
}

#color_territory_active_canvas {
	display:none;
}

#color_territory_active_image {
	display:none;
}

#continentFilter {
	z-index:2;
}

#filter1 {
    position:absolute;
    opacity:0.75;
}

#filter2 {
	position:absolute;
	opacity:0.5;
}

#map {
    margin-left:auto;
    margin-right:auto;
    width:80%;
    position:absolute;
    z-index: -2;
}

#myCanvas {
    display:none;
}

#renderedSprites {
	position:absolute;
  	pointer-events: none;
}

#sidePanel {
    position:fixed;
    background-color:#bf6060;
    width:14%;
    margin-left:85%
}

#sidePanel > div.corner {
    display: block;
    position: absolute;
    width: 25%;
    height: 5%;
}

#submit {
	display:none;
}

#title {
    position: absolute;                                                         
    background-color:#bf6060;//                                                           
    padding-left:5%;//                                                                    (  .  )(  .  )
    padding-right:5%;                                                   
    margin-top:-2%;//                                                                        ^      ^
    padding-left:5%;//                                                                       |      |
    padding-right:5%;//                                                                   these are tits
}

#title > div.corner {
    display: block;
    position: absolute;
    width: 3%;
    height: 25%;
}

#titlediv {
    width:750px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
}

#territoryFilter {
	z-index:3;
}
#alertBox {
	position:absolute;
	z-index:10000;
	padding:3%;
	background-color:#bf6060;
	display:none;
}
#alertBox > div.corner {
    display: block;
    position: absolute;
    width: 10%;
    height: 15%;
}


//Color Picker

#left   {height:500px;
        width:25%;
        float:left;
        overflow-y:scroll;}

.swatchButton {margin-top:5px;
        margin-bottom:5px;
        margin-left:5%;
        height:30px;
        width:90%;
        vertical-align:middle;
        text-align:center;
        font-family:courier;
        font-size:25px;
        color:#ffffff;
        border:none;
        border-radius:10px;}
.swatchImage {
	display:none
}
							
button#FF0000  {margin-top:10px;
    background-color:#FF0000;}
#LFF6600  {background-color:#FF6600;}
#LFFE440  {background-color:#FFE440;}
#L00FF0C  {background-color:#00FF0C;}
#L00FFFF  {background-color:#00FFFF;}
#L000EFF  {background-color:#000EFF;}
#LD100FF  {background-color:#D100FF;}
#LFF2F00  {background-color:#FF2F00;}
#LFFBF00  {background-color:#FFBF00;}
#LA2FF00 {background-color:#A2FF00;}
#L00FFA6  {background-color:#00FFA6;}
#L0099FF  {background-color:#0099FF;}
#L6F00FF  {background-color:#6F00FF;}
#LFF00AE  {background-color:#FF00AE;}
#LFF1900  {background-color:#FF1900;}
#LFFA200  {background-color:#FFA200;}
#LD9FF00  {background-color:#D9FF00;}
#L00FF77  {background-color:#00FF77;}
#L00C8FF  {background-color:#00C8FF;}
#L4800FF  {background-color:#4800FF;}
#LBB00FF  {background-color:#BB00FF;}
#LFF00B3  {background-color:#FF00B3;}
#LFF003C  {background-color:#FF003C;}
#L00FF3C  {background-color:#00FF3C;}
#LFF4000  {background-color:#FF4000;}
#L00BFFF  {background-color:#00BFFF;}
#LFFAE00 {background-color:#FFAE00;}
#L0051FF {background-color:#0051FF;}
#LEAFF00 {background-color:#EAFF00;}
#L1500FF {background-color:#1500FF;}
#L51FF00 {background-color:#51FF00;}
#LAE00FF {background-color:#AE00FF;}
#L00FF6E {background-color:#00FF6E;}
#LFF0091 {background-color:#FF0091;}
#L7BFF00 {background-color:#7BFF00;}
#L8400FF {background-color:#8400FF;}
#L008CFF {background-color:#008CFF;}
#LFF7300 {background-color:#FF7300;}
button#LB700FF {margin-bottom:10px;
    background-color:#B700FF;}

#right  {height:500px;
        width:75%;
        float:right;
        overflow-y:hidden;}

#placement  {margin-top:100px;
            margin-bottom:auto;
            margin-left:auto;
            margin-right:auto;
            height:300px;
            width:600px;
            background-color:green;}

#colorPicker {
	display:none;
}

